<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sparkrico.v2ex"
    android:versionCode="6"
    android:versionName="1.0.5" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.sparkrico.v2ex.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TopicFragment" />
        <activity android:name=".MemberFragment"/>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".WebActivity"
            android:theme="@android:style/Theme.NoTitleBar"/>

        <service
            android:name="com.umeng.common.net.DownloadingService"
            android:exported="true"
            android:process=":DownloadingService" >
        </service>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="50ee0c2b5270156beb000045" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="V2EX" />
    </application>

</manifest>